@use "../mixins" as *;

.footer {
    background-color: #000;
    font-family: var(--font-plus-jakarta);

    a {
        text-decoration: none;
    }

    &__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 50px 2rem;
        color: var(--color-white);
        padding: 80px 0 75px;
    }

    &__logo {
        display: block;
        width: 100%;
        max-width: 100px;

        img,
        svg {
            display: block;
            width: 100%;
        }
    }

    &__left {
        display: flex;
        gap: 30px;

        @include m767 {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 420px;
    }

    &__socials {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 13px;

        @include m767 {
            justify-content: center;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            background-color: var(--color-white);
            border-radius: 50%;
            transition: var(--transition);

            &:hover {
                background-color: var(--color-primary);
            }

            img,
            svg {
                display: block;
                width: 15px;
                height: 15px;
            }
        }
    }

    &__description {
        font-size: 1.125rem;
        line-height: 1.4;
        color: rgba(255, 255, 255, 0.8);
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include m767 {
            width: 100%;
        }
    }

    &__quick-title {
        margin-bottom: 0;
        color: var(--color-white);
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.02em;
        font-family: var(--font-montserrat);

        @include m767 {
            text-align: center;
        }

        &::before {
            content: "";
            width: 8px;
            height: 8px;
            display: inline-block;
            vertical-align: middle;
            background-color: var(--color-primary);
            border-radius: 50%;
            margin-right: 8px;
        }
    }

    &__quicklinks {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__quicklink {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 20px;
        background-color: rgba(255, 255, 255, 0.05);
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.02em;
        color: var(--color-white);
    }

    &__bottom {
        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 20px 0 0;
            color: rgba(255, 255, 255, 0.7);
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            font-size: 0.875rem;

            @include m575 {
                flex-direction: column;
                gap: 15px;
            }
        }
    }

    &__title {
        color: rgba(255, 255, 255, 0.1);
        font-size: clamp(16px, calc(17vw + 1rem), 260px);
        text-align: center;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1;

        @include m767 {
            font-size: clamp(16px, calc(15vw + 1rem), 260px);
        }

        &-wrapper {
            width: 100%;
            height: 180px;
            overflow: hidden;
            padding-top: 5px;
            letter-spacing: -0.11em;

            @include m1024 {
                height: 100px;
            }
        }
    }
}
