@use "../mixins" as *;
@use "../components/buttons" as *;

.header {
    width: 100%;
    padding: 20px 0;
    background-color: var(--color-black);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    will-change: transform;
    transform: translateY(-150%);
    transition: transform 0.4s ease;
    z-index: 100;

    &.sticky {
        transform: translateY(0);
    }

    &__logo {
        display: block;
        width: 100%;
        max-width: 130px;

        img,
        svg {
            display: block;
            width: 100%;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 20px 50px;
        margin: 0 auto;
        padding: 0;

        @include m1199 {
            flex-direction: column;
            margin: unset;
            align-items: flex-start;
        }

        &-wrapper {
            display: flex;
            flex: 0.95;

            @include m1199 {
                position: fixed;
                top: 80px;
                right: 0;
                flex-direction: column;
                width: 100%;
                max-width: 26rem;
                height: calc(100vh - 90px);
                padding: 20px 20px 50px;
                overflow: auto;
                background-color: var(--color-black);
                will-change: transform;
                transform: translateX(100%);
                transition: transform 0.6s ease-in-out;
                z-index: 100;

                .menu-open & {
                    transform: translateX(0);
                }
            }
        }
    }

    &__link {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-white);
        font-family: var(--font-plus-jakarta);
        font-weight: 500;
        transition: var(--transition);
    }

    &__cta {
        @include btn-base;

        @include m1199 {
            margin-top: 30px;
        }
    }

    &__burger {
        display: none;
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;

        @include m1199 {
            display: block;
        }

        & > span {
            display: block;
            background-color: var(--color-white);
            width: 30px;
            height: 2px;
            position: absolute;
            left: calc(50% - 15px);
            top: calc(50% - 1px);
            border-radius: 4px;
            will-change: transform;
            transition:
                transform var(--transition),
                opacity var(--transition);

            &:nth-child(1) {
                transform: translateY(-8px);
            }

            &:nth-child(3) {
                transform: translateY(8px);
            }
        }

        .menu-open & {
            & > span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
