@mixin m1199 {
    @media only screen and (max-width: (1199.9px)) {
        @content;
    }
}

@mixin m1024 {
    @media only screen and (max-width: (1024.9px)) {
        @content;
    }
}

@mixin m991 {
    @media only screen and (max-width: (991.9px)) {
        @content;
    }
}

@mixin m767 {
    @media only screen and (max-width: (767.9px)) {
        @content;
    }
}

@mixin m575 {
    @media only screen and (max-width: (575.9px)) {
        @content;
    }
}

@mixin m375 {
    @media only screen and (max-width: (375.9px)) {
        @content;
    }
}
