:root {
    --color-primary: #fa7911;
    --color-black: #121212;
    --color-white: #fff;
    --color-grey: #b3b3b3;
    --color-danger: #dc3232;
    --color-success: #46b450;
    --headings-sizes-h1: 3.875rem;
    --headings-sizes-h2: 3.25rem;
    --headings-sizes-h3: 1.5rem;
    --headings-sizes-h4: 1.2rem;
    --headings-sizes-h5: 1rem;
    --headings-sizes-h6: 1rem;

    --base-container-width: 1310px;

    --gutter: 20px;

    --transition: all 0.5s ease-in-out;

    @media only screen and (max-width: 767px) {
        --gutter: 15px;
    }

    @media only screen and (max-width: 1199px) {
        --headings-sizes-h1: 3.125rem;
        --headings-sizes-h2: 3rem;
        --headings-sizes-h3: 1.5rem;
        --headings-sizes-h4: 1rem;
    }

    @media only screen and (max-width: 767px) {
        --headings-sizes-h1: 2.5rem;
        --headings-sizes-h2: 1.8rem;
        --headings-sizes-h3: 1.5rem;
    }
}
