@use "../../styles/mixins" as *;

.cards {
    position: relative;
    overflow-x: clip;

    &__radial-item {
        position: absolute;
        width: 175px;
        background: var(--color-primary);
        filter: blur(260px);
        aspect-ratio: 1;
        z-index: -1;
        border-radius: 50%;
        opacity: 0.6;

        @include m1024 {
            display: none;
        }

        .firefox & {
            width: 200px;
            opacity: 0.05;
            filter: blur(700px);
        }

        &_1 {
            left: 0;
            bottom: 10%;
        }

        &_2 {
            right: -10%;
            top: 50%;
            filter: blur(320px);

            .firefox & {
                width: 350px;
            }
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 120px 0;

        @include m1024 {
            padding: 100px 0;
        }
    }

    &__pretitle {
        margin-bottom: 15px;
        color: var(--color-grey);
    }

    &__title {
        margin-bottom: 25px;
        text-transform: capitalize;
    }

    &__text {
        color: var(--color-grey);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 75px 0 85px;

        @include m1024 {
            margin: 40px 0;
        }

        @include m767 {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        padding: 32px;
        background-color: rgba(255, 255, 255, 0.05);
        text-align: left;

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            height: 64px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            margin-bottom: 30px;

            img {
                width: 20px;
                height: 20px;
            }

            @include m767 {
                width: 44px;
                height: 44px;
                margin-bottom: 15px;
            }
        }

        &-title {
            margin-bottom: 8px;
            font-family: var(--font-arial);
        }

        &-text {
            color: #8f8f8f;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__subtext {
        max-width: 310px;
        margin-top: 30px;
        color: #8f8f8f;
    }
}
