@use "../../styles/mixins" as *;

.hero {
    min-height: 610px;
    background-size: cover;
    position: relative;
    overflow: hidden;

    @include m1024 {
        min-height: unset;
    }

    &__wrapper {
        max-width: 1400px;
        margin: 0 auto;
        position: relative;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 110px 0 115px;
        gap: 48px;
        text-align: center;

        @include m1024 {
            padding: 75px 0;
        }
    }

    &__gradient {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform: translateY(20%);

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__decor {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        max-width: 900px;
        color: var(--color-white);
    }

    &__text {
        max-width: 780px;
        color: var(--color-grey);
    }
}
