@use "../../styles/mixins" as *;

.contact {
    overflow: hidden;
    background-color: var(--color-black);

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;
        padding: 120px 0;

        @include m1024 {
            flex-direction: column;
            padding: 100px 0;
        }
    }

    &__info {
        max-width: 550px;
        text-align: left;

        @include m1024 {
            max-width: 100%;
            text-align: center;
        }
    }

    &__pretitle {
        margin-bottom: 16px;
        color: rgba(255, 255, 255, 0.4);
    }

    &__title {
        margin-bottom: 10px;
    }

    &__text {
        color: var(--color-grey);
    }

    &__form-wrapper {
        width: 100%;
        max-width: 530px;
        flex: 1 0 auto;
        position: relative;

        @include m1024 {
            max-width: 100%;
        }

        form {
            padding: 60px 60px 50px;
            background-color: rgba(249, 249, 249, 0.02);

            @include m1024 {
                padding: 30px;
            }
        }

        .form__row {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-bottom: 10px;

            @include m575 {
                flex-direction: column;
                gap: 10px;
            }
        }

        .form__col {
            flex: 1;
        }

        .form__submit-wrapper {
            margin-top: 25px;
            height: 48px;
            padding: 12px 24px;
        }

        .form__submit-wrapper:has(input[disabled]) {
            opacity: 0.2;
        }

        .form__submit-wrapper:has(input[disabled]):hover {
            background-color: var(--color-white);
        }

        .contact__error {
            font-size: 0.875rem;
            color: var(--color-danger);
        }

        .form__acceptance {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 30px;

            a {
                text-decoration: none;
            }
        }

        .contact__status {
            display: flex;
            justify-content: center;
            margin-top: 10px;

            &.contact__status--error {
                color: var(--color-danger);
            }

            &.contact__status--success {
                color: var(--color-success);
            }
        }
    }

    &__lines {
        @include m1024 {
            display: none;
        }

        i {
            --size: 300rem;

            width: var(--size);
            height: 1px;
            background: var(--color-white);
            opacity: 0.1;
            position: absolute;
            z-index: 2;

            &:nth-child(1) {
                top: 0;
                left: 0;
                translate: -50% 0;
            }

            &:nth-child(2) {
                bottom: 0;
                left: 0;
                translate: -50% 0;
            }

            &:nth-child(3) {
                width: 0.1rem;
                height: var(--size);
                top: 0;
                left: 0;
                translate: 0 -50%;
            }

            &:nth-child(4) {
                width: 0.1rem;
                height: var(--size);
                top: 0;
                right: 0;
                translate: 0 -50%;
            }
        }
    }
}

.multi-date-message {
    margin-top: 8px;
    color: #dc3232;
    font-size: 14px;
}

#multi-dates {
    position: relative;
    background-image: url("/calendar.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: bottom 50% right 15px;
    appearance: none;
    border-radius: 0;
    cursor: pointer;
    font-family: var(--base-font-family);
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--color-black);
    font-weight: 600;
    width: 100%;
    border-radius: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    color: rgba(179, 179, 179, 0.5);
    transition: var(--transition);
    opacity: 0.7;
    font-size: 1rem;
    line-height: 1.55;
    font-weight: 400;
    height: 53px;
    padding: 15px;
}

.flatpickr-calendar {
    font-family: var(--font-montserrat);
}

.flatpickr-day {
    &.selected,
    &.nextMonthDay.selected {
        background: var(--color-primary);
        border-color: var(--color-primary);

        &:hover {
            background: var(--color-primary);
            border-color: var(--color-primary);
        }
    }
}

input[type="number"].flatpickr-hour,
input[type="number"].flatpickr-minute {
    color: var(--color-black);
}
