@use "../variables" as *;

form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="url"],
textarea {
    width: 100%;
    appearance: none;
    box-sizing: border-box;
    font-family: var(--base-font-family);
    border-radius: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    color: rgba(179, 179, 179, 0.5);
    transition: var(--transition);
    opacity: 0.7;
    font-size: 1rem;
    line-height: 1.55;
    font-weight: 400;
    height: 53px;
    padding: 15px;

    &:hover,
    &:focus {
        border-color: var(--color-primary);
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.1);
    }

    &::placeholder {
        color: rgba(179, 179, 179, 0.5);
    }
}

input[type="checkbox"] {
    position: relative;
    background-color: transparent;
    border: 1px solid rgba(179, 179, 179, 1);
    border-radius: 5px;
    appearance: none;
    width: 18px;
    height: 18px;

    &:checked {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 100%;
        height: 100%;
        background: url("/check.svg");
        background-position: center;
        opacity: 0;
    }
}

select {
    width: 100%;
    cursor: pointer;
    border-radius: 0;
    font-family: var(--base-font-family);
    outline: none;
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(179, 179, 179, 0.5);
    border: none;
    font-size: 1rem;
    line-height: 1.55;
    font-weight: 400;
    height: 56px;
    padding: 15px;
    appearance: none;
    background-image: url("/arrow-down.svg");
    background-position-x: 95%;
    background-position-y: 50%;
    background-repeat: no-repeat;

    option {
        color: #131212;
    }

    &:hover,
    &:focus {
        border-color: var(--color-primary);
    }
}

textarea {
    resize: vertical;
    vertical-align: top;
    min-height: 100px;
    max-height: 150px;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
    appearance: none;
    border-radius: 0;
    cursor: pointer;
    font-family: var(--base-font-family);
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--color-black);
    font-weight: 600;
}
